*{
    margin: 0;
    padding: 0;
}

.background_image{
    background-image: url(pexels-rpnickson-2559941.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cover_div{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.686);    
}

.outer_navbar_div{
    height: 6.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outer_navbar_div:hover{
    background-color: rgba(0, 0, 0, 0.235);
    transition: 0.6s;
}

.nav_logo_elements{
    width: 150px;
    height: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo_elements a{
    text-decoration: none;
    font-size: 40px;
    color: white;
}

.nav_list_outer_elements{
    width: 1100px;
    height: 40px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_list_outer_elements a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.nav_list_outer_elements a:hover{
    text-decoration: underline;
    color: #9fd7a4;
    transition: 0.5s;
}

.nav_list_elements{
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* navbar ended */

/* about me content started */

.projects_outer_1{
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.projects_heading_div{
  width: 700px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects_heading{
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.projects_heading p{
  color: #9fd7a4;
  font-size: 70px;
  font-family: 'Playfair Display', serif;
}

.projects_heading_text{
  width: 500px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.projects_heading_text p{
  text-align: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.4;
  color: white;
  font-weight: 500;
}

.projects_outer_2{
  height: 630px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.projects_outer_cards{
  width: 32.2vw;
  height: 300px;
  gap: 20px;
  border-radius: 15px;
}

.project_1{
  background-color: transparent;
  perspective: 6642px;
}

.flip_card_inner{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.project_1:hover .flip_card_inner {
  transform: rotateY(180deg);
}

.flip_card_front, .flip_card_back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip_card_front {
  background-color: rgba(131, 131, 131, 0.274);
  border-radius: 15px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project_heading{
  font-size: 50px;
  text-align: center;
  color: white;
}

hr{
  width: 300px;
}

.project_description{
  font-size: 25px;
  text-align: center;
  color: white;
  margin-top: 30px;
}

.flip_card_back {
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
}

.flip_card_back img{
  width:620px;
  height:300px;
  border-radius: 15px;
}

.flip_card_back_cover{
  position: absolute;
  top: 0;
  width: 620px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.back_heading_background{
  height: 150px;
  background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0));
  border-radius: 15px;
}

.flip_card_back_heading{
  padding: 10px 15px;
  font-size: 40px;
  font-family: 'Georgia';
  color: rgb(255, 255, 255);
}

.back_buttons_background{
  height: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgb(0, 0, 0));
  display: flex;
  justify-content: end;
  align-items: end;
}

.back_button{
  border: none;
  font-weight: 600;
  font-size: 17px;
  font-family: 'Georgia';
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  margin-right: 25px;
  margin-bottom: 15px;
  cursor: pointer;
}

.back_button:hover{
  text-decoration: underline;
  background-color: rgba(232, 232, 232, 0.955);
  transition: 0.3s;
}

.explore_arrow{
  width: 35px;
  height: 35px;
}

.explore_arrow img{
  width: 35px;
  height: 35px;
}